.bug-item {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 110px;
  border-bottom: 1px solid var(--lightgray);
}

.bug-item:hover {
  background-color: var(--graytransparent);
}

.link {
  text-decoration: none;
}

.bug-detail {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr repeat(4, 1fr);
}

.bug-detail p {
  text-align: start;
  color: black;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  padding: 0 2px;
}

.titleText{
  overflow: hidden;
}

.actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}

.icon:hover {
  cursor: pointer;
}

/*  Smartphones in landscape mode */
@media only screen and (min-width: 421px) and (max-width: 767px) {
  .bug-item {
    grid-template-columns: 1fr 70px;
  }

  .bug-detail {
    width: 100%;
    display: grid;
    grid-template-columns: 2.5fr repeat(2, 1fr);
  }

  .bug-detail p {
    height: 40px;
    line-height: 40px;
  }
}

/*  Smartphones in portrait mode  */
@media only screen and (max-width: 420px) {
  .bug-item {
    grid-template-columns: 1fr 70px;
  }

  .bug-detail {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  .bug-detail p {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
  }
}
