/* CONTAINER */
.container {
  margin: 22px 5%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
}

/* TITLE */
.container h1 {
  font-size: 40px;
  font-weight: 900;
}

/* DETAILS */
.bug-detail {
  width: 90%;
  margin: 30px 5%;
}

/* EACH CONTENT */
.detail-content,
.detail-content-long-text {
  display: grid;
  grid-template-columns: 100px 1fr;
  padding: 5px 0;
}

.detail-content {
  height: 50px;
  line-height: 50px;
}

.detail-content-long-text {
  height: 100px;
  line-height: 100px;
}

/* LABEL */
.label {
  grid-column: 1;
  font-size: 20px;
  color: black;
  font-weight: 500;
  text-align: end;
  padding-right: 10px;
  border: none;
}

/* CONTENT */
.content {
  grid-column: 2;
  border: none;
  border-left: 2px solid var(--darkgray);
  border-bottom: 1px solid var(--lightgray);
  padding: 5px 0 5px 5px;
  font-size: 18px;
}

/* UPDATE BTN */
.update-btn {
  background-color: var(--blue);
  color: white;
  position: relative;
  top: 50px;
  left: 10px;
}

/* DELETE BTN */
.delete-btn {
  background-color: white;
  color: red;
  border: 3px solid red;
  position: relative;
  top: 50px;
}

.delete-btn:hover:enabled {
  background-color: red;
  color: white;
}

/* BACK TO LIST */
.back-to-list {
  color: black;
  font-size: 18px;
  text-decoration: none;
  position: relative;
  top: 50px;
}
