/* DETAILS */
.bug-detail {
  width: 100%;
  margin: 30px 0;
}

/* EACH CONTENT */
.detail-content,
.detail-content-long-text {
  display: grid;
  grid-template-columns: 100px 1fr;
}


.detail-content {
  height: 70px;
}

.detail-content-long-text {
  height: 120px;
}

/* LABEL */
.label {
  grid-column: 1;
  font-size: 20px;
  color: black;
  font-weight: 500;
  text-align: end;
  padding-right: 10px;
  border: none;
  border-bottom: 1px solid var(--lightgray);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* CONTENT */
.content {
  grid-column: 2;
  border: none;
  border-left: 2px solid var(--darkgray);
  border-bottom: 1px solid var(--lightgray);
  padding: 2px 5px;
  font-size: 18px;
}

.detail-content .content{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* ALL BTN */
.actions {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* UPDATE BTN */
.update-btn {
  background-color: var(--blue);
  color: white;
  position: relative;
  top: 50px;
  left: 10px;
  margin: 2px;
}

.update-btn:hover {
  border: 2px solid var(--blue);
  box-shadow: inset 0px 0px 0px 2px white;
}

/* DELETE BTN */
.delete-btn {
  background-color: white;
  color: red;
  border: 3px solid red;
  position: relative;
  top: 50px;
}

.delete-btn:hover:enabled {
  background-color: red;
  color: white;
}

/* BACK TO LIST */
.back-to-list {
  color: black;
  font-size: 18px;
  text-decoration: none;
  position: relative;
  top: 50px;
}

/*  Smartphones in landscape mode */
@media only screen and (max-width: 767px) {
  .update-btn {
    top: 20px;
  }

  .delete-btn {
    top: 20px;
  }

  .back-to-list {
    top: 10px;
  }
}

/*  Smartphones in portrait mode  */
@media only screen and (max-width: 420px) {
  .detail-content,
  .detail-content-long-text {
    grid-template-columns: 80px 1fr;
  }

  .detail-content {
    height: 50px;
  }

  .detail-content-long-text {
    height: 80px;
  }

  .label {
    font-size: 16px;
  }

  /* CONTENT */
  .content {
    font-size: 16px;
  }

  .back-to-list {
    font-size: 16px;
  }
}
