.notification {
  height: 20px;
  margin: 10px 0;
  text-align: center;
}

.notification p {
  color: white;
}

.pending {
  background-color: orange;
}

.success {
  background-color: green;
  animation: fadeout 1s linear 1s forwards;
}

.error {
  background-color: red;
}

@keyframes fadeout {
  to {
    opacity: 0;
  }
}

/*  Smartphones in portrait mode  */
@media only screen and (max-width: 420px) {
  .notification {
    margin: 5px 0;
  }
}
