.notification {
  /* background-color: black; */
  height: 20px;
  margin: 10px 0;
  text-align: center;
  /* transition: opacity 0.8s; */
  /* animation: fadeout 1s linear 1s forwards; */
}

.hidden {
  opacity: 0;
}

.notification p {
  color: white;
}

.pending {
  background-color: orange;
  /* animation: none; */
}

.success {
  background-color: green;
  animation: fadeout 1s linear 1s forwards;
}

.error {
  background-color: red;
  /* animation: none; */
}

@keyframes fadeout {
  to {
    opacity: 0;
  }
}
