* {
  outline: 1px solid red;
}

/* CONTAINER */
/* .container {
  margin: 22px 5%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  border: 1px solid blue;
  background-color: aquamarine;
} */

/* TITLE */
/* .container h1 {
  font-size: 40px;
  font-weight: 900;
} */

/* BUGS LIST TABLE */
.list-container {
  margin: 30px 0;
}

.labels {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr) 110px;
}

.labels p {
  border-bottom: 2px solid var(--darkgray);
  text-align: start;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  padding: 0 2px;
}

.actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.actions p {
  text-align: center;
}

/* ERROR */
.error {
  color: black;
  text-align: center;
  margin-top: 50px;
  font-size: 18px;
}

/*  Tablets in landscape mode, older desktop monitors */
@media only screen and (min-width: 1024px) and (max-width: 1365px) {
  /* .container {
    color: aqua;
    position: fixed;
    left: 80px;
    width: calc(100vw - 80px - 10%);
    height: calc(100vh - 22px - 22px);
  } */
}

/*  Tablets in portrait mode, large display smartphones landscape mode */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* .container {
    color: pink;
    position: fixed;
    left: 80px;
    width: calc(100vw - 80px - 10%);
    height: calc(100vh - 22px - 22px);
  } */
}

/*  Smartphones in landscape mode */
@media only screen and (min-width: 421px) and (max-width: 767px) {
  /* .container {
    color: yellow;
  }

  .container {
    margin: 10px 5%;
  } 

  .mobileMenuOpen {
    transform: translateX(250px);
  }*/

  .labels {
    grid-template-columns: 2.5fr repeat(2, 1fr) 70px;
  }

  .labels p {
    /* border-bottom: 2px solid var(--darkgray);
    text-align: start;*/
    height: 30px;
    line-height: 30px;
    font-size: 18px;
  }

  .mobileMenuOpen {
    transform: translateX(200px);
    /* overflow: hidden; */
  }

  /* .error {
    font-size: 12px;
  } */
}

/*  Smartphones in portrait mode  */
@media only screen and (max-width: 420px) {
  /* .container {
    color: purple;
    width: calc(100vw - 10%);
  } */

  /* .container h1 {
    font-size: 25px;
  } */

  .labels {
    grid-template-columns: 2.5fr repeat(2, 1fr) 70px;
  }

  .labels p {
    /* border-bottom: 2px solid var(--darkgray);
    text-align: start;*/
    height: 30px;
    line-height: 30px;
    font-size: 14px;
  }

  .mobileMenuOpen {
    transform: translateX(200px);
    /* overflow: hidden; */
  }

  .empty {
    font-size: 12px;
  }
}
