/* BUGS LIST TABLE */
.list-container {
  margin: 0;
}

.labels {
  width: 100%;
  display: grid;
  grid-template-columns: 5fr 1fr 1.3fr 2fr 2fr 110px;
}

.labels p {
  border-bottom: 2px solid var(--darkgray);
  text-align: start;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-weight: 500;
}

.actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.actions p {
  text-align: center;
}

/* ERROR */
.empty {
  color: black;
  text-align: center;
  margin-top: 50px;
  font-size: 18px;
}

/* MEDIA QUERIES */
/*  Smartphones in landscape mode */
@media only screen and (min-width: 421px) and (max-width: 767px) {
  .labels {
    grid-template-columns: 2.5fr repeat(2, 1fr) 70px;
  }

  .labels p {
    height: 30px;
    line-height: 30px;
    font-size: 18px;
  }

  .mobileMenuOpen {
    transform: translateX(200px);
  }
}

/*  Smartphones in portrait mode  */
@media only screen and (max-width: 420px) {
  .labels {
    grid-template-columns: 3fr 1fr 70px;
  }

  .labels p {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
  }

  .mobileMenuOpen {
    transform: translateX(200px);
  }

  .empty {
    font-size: 12px;
  }
}
