/* CONTAINER */
.container {
  margin: 22px 5%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  /* align-items: center; */
}

/* TITLE */
.container h1 {
  /* justify-self: flex-start;
      align-self: flex-start; */
  /* background-color: tomato; */
  font-size: 40px;
  font-weight: 900;
}

/* FORM */
.bug-form {
  /* background-color: var(--third-color); */
  width: 90%;
  margin: 30px 5%;
}

/* EACH INPUT */
.add-bug-input,
.add-bug-textarea {
  display: grid;
  grid-template-columns: 100px 1fr;
  padding: 5px 0;
  /* height: 50px;
  line-height: 50px; */
}

.add-bug-input {
  height: 50px;
  line-height: 50px;
}

.add-bug-textarea {
  height: 100px;
  line-height: 100px;
}

.add-bug-input label,
.add-bug-textarea label {
  grid-column: 1;
  /* background-color: var(--third-color);
  border: 1px red solid; */
  font-size: 18px;
  color: black;
  text-align: center;
  border: none;
}

.add-bug-input input,
.add-bug-input select,
.add-bug-textarea textarea {
  grid-column: 2;
  border: none;
  border-left: 2px solid var(--darkgray);
  border-bottom: 1px solid var(--darkgray);
  padding: 5px 0 5px 5px;
  font-size: 18px;
}

/* .add-bug-input textarea {
  height: auto;
} */
