/* login background */
.login-bg {
  width: 100vw;
  height: 100vh;
  background-color: white;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* login panel */
.login-form {
  /* margin: 0 auto; */
  background-color: var(--navy);
  /* width: 35vw; */
  width: 80vw;
  max-width: 600px;
  height: auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

/* login title */
.login-form h1 {
  color: white;
  font-size: 35px;
  margin-top: 35px;
  margin-bottom: 18px;
  /* border: 1px solid red; */
}

/* input field */
.login-items {
  margin-bottom: 18px;
}

.login-item {
  padding: 10px;
  /* margin-bottom: 5px; */
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.login-item label {
  color: white;
  font-size: 18px;
  padding-bottom: 3px;
}

.login-item input {
  border-radius: 5px;
  border: 1px solid transparent;
  /* border: none; */
  /* width: 25vw; */
  width: 70vw;
  max-width: 525px;
  height: 5vh;
  font-size: 18px;
  padding-left: 10px;
}

.login-item p {
  font-size: 18px;
  padding-top: 3px;
}

.errorMsg {
  color: red;
}

.login-item input.inputInvalid {
  border: 5px solid red;
}

/* Login Button */
.login-btn {
  background-color: var(--darkgray);
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  margin-bottom: 18px;
  width: 20vw;
  max-width: 150px;
  height: 6vh;
}

.login-btn:disabled {
  cursor: not-allowed;
}

.login-btn:hover:enabled {
  background-color: white;
  color: var(--navy);
  cursor: pointer;
}

/* other option description */
.options {
  margin-bottom: 35px;
  /* border: 1px solid red; */
}

.new-account {
  color: var(--lightgray);
  font-size: 18px;
  padding: 5px 0;
  text-align: center;
  /* border: 1px solid red; */
}

.new-account:hover {
  color: white;
  cursor: pointer;
}

.guest {
  background-color: var(--blue);
  border-radius: 5px;
  color: var(--lightgray);
  font-size: 18px;
  padding: 8px 15px;
  text-align: center;
}

.guest:hover {
  background-color: white;
  color: var(--darkgray);
  /* color: var(--secondary-color); */
  cursor: pointer;
}
