.container {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  grid-column: 1;
}

.bugslist,
.bug-detail,
.submit-bug,
.update-bug {
  grid-column: 2;
}
