:root {
  --navy: rgb(0, 0, 49);
  --darkgray: rgb(100, 92, 92);
  --lightgray: rgb(196, 196, 196);
  --graytransparent: rgba(196, 196, 196, 0.3);
  --blue: rgb(9, 9, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  color: black;
}
