.link {
  text-decoration: none;
}

.link:hover {
  /* background-color: rgba(var(--third-color), 1); */
}

.item {
  width: 100%;
  /* background-color: violet; */

  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.item:hover {
  background-color: var(--graytransparent);
}

.item p {
  /* border: 1px solid red; */
  text-align: start;
  color: black;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  /* background-color: rgba(var(--third-color), 1); */
}
